# DQLAB DATA WRANGLING

## Membaca file dengan pandas

In [3]:
import pandas as pd 

csv_data = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/shopping_data.csv")

csv_data.head(10)

   CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40
5           6  Female   22                  17                      76
6           7  Female   35                  18                       6
7           8  Female   23                  18                      94
8           9    Male   64                  19                       3
9          10  Female   30                  19                      72

## Melakukan Akses Data Kolom dan Baris

In [24]:
import pandas as pd 

csv_data = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/shopping_data.csv")

#kolom
print("Mengecek nama-nama kolom:")
print("Kolom :")
print(csv_data.columns)

print("")
print(csv_data['Age'].head(10))

#baris
print("")
print("Baris :")
print(csv_data.iloc[5])

#baris tertentu
print("")
print("Baris kedua dari kolom Age:")
print(csv_data['Age'].iloc[1])

Mengecek nama-nama kolom:
Kolom :
Index(['CustomerID', 'Genre', 'Age', 'Annual Income (k$)',
       'Spending Score (1-100)'],
      dtype='object')

0    19
1    21
2    20
3    23
4    31
5    22
6    35
7    23
8    64
9    30
Name: Age, dtype: int64

Baris :
CustomerID                     6
Genre                     Female
Age                           22
Annual Income (k$)            17
Spending Score (1-100)        76
Name: 5, dtype: object

Baris kedua dari kolom Age:
21

In [21]:
#range baris dari kolom tertentu
print("Menampilkan data ke 5 sampai kurang dari 10:")
print("")
print(csv_data['Age'].iloc[4:9])

#range baris
print("")
print("Menampilkan data ke 5 sampai kurang dari 10:")
print("")
print(csv_data.iloc[4:9])

Menampilkan data ke 5 sampai kurang dari 10:

4    31
5    22
6    35
7    23
8    64
Name: Age, dtype: int64

Menampilkan data ke 5 sampai kurang dari 10:

   CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
4           5  Female   31                  17                      40
5           6  Female   22                  17                      76
6           7  Female   35                  18                       6
7           8  Female   23                  18                      94
8           9    Male   64                  19                       3

## Informasi statistik data

In [22]:
#print(csv_data.describe(include=['all']))
print(csv_data.describe(exclude=['O']))

       CustomerID         Age  Annual Income (k$)  Spending Score (1-100)
count  200.000000  200.000000          200.000000              200.000000
mean   100.500000   38.850000           60.560000               50.200000
std     57.879185   13.969007           26.264721               25.823522
min      1.000000   18.000000           15.000000                1.000000
25%     50.750000   28.750000           41.500000               34.750000
50%    100.500000   36.000000           61.500000               50.000000
75%    150.250000   49.000000           78.000000               73.000000
max    200.000000   70.000000          137.000000               99.000000